@tailwind base;
@tailwind components;
@tailwind utilities;


/* Apply smooth scrolling to the entire document */
html, body {
  height: 100%;
  margin: 0;
}
#scrollsmoother-container {
  position: relative;
  overflow: hidden;
}


  body{
    background-color: #060606;
    color: white;
  }
  
  /* Optional: Apply to specific elements if needed */
  .scrollable-container {
    overflow-y: auto;
    scroll-behavior: smooth;
  }